{erl_opts, [debug_info]}.
{deps, [{opencensus, "~> 0.6.0"}]}.

{project_plugins, [rebar3_lint,
                   covertool]}.

{shell, [{config, "config/dev.conf"}]}.

{profiles, [
           {test, [
                   {erl_opts, [nowarn_export_all]}
                  ]}
          ]}.

% vi: ft=erlang syn=erlang
